.mat-update {
    background-color: green;
    color: #fff;
}

  .mat-style{
      color:black;
      height: 10%;
  }

  .mat-show-qr{
    background-color: rgb(27, 30, 228);
    color: #fff; 
  }

  .innerTable{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 0;
    align-content: center;
      
  }

  .innerTable td{
      border: hidden;
      border-collapse: collapse;
  }
