img {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 85%;
    border: 1px solid gray;
    border-radius: 10px;
}

.header{
  background:  #222;
  cursor: move;
  text-align: center;
  border-bottom: white 2px solid;
}

[mat-dialog-title] {
  margin: -24px -24px 0px -24px !important;
  padding: 10px 24px;
  cursor: move;
  text-align: center;
  
}
hr.solid {
    
    border-top: 3px solid #bbb;
  }

.close {
    color: white;
  }

.spinner{
  margin-top: 5%;
  margin-bottom: 5%;
  
}