

mat-grid-tile {
    background: rgb(46, 45, 45);
    cursor: pointer;
    align-items: initial;
    justify-content: flex-start;
  }
  
  ::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
    align-items: initial;  /*vertical alignment*/
    justify-content: initial;  /*horizontal alignment*/
    overflow:auto;
    position: absolute;
    top: 40px;
    
}


/* On the flex container */
.flexcontainer {
  /* display: flex; */
  align-items: center;
  justify-content: left;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  align-content: flex-end;
  
}
     
.spinner {
  margin-top: 150px;
}