<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'מרכז הבקרה' | translate }}</span>
        </a>

        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ "טבלת חולים" | translate }}</span>
        </a>

        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ "הגדרות" | translate }}</span>
        </a>

        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'אפליקציה' | translate }}</span>
        </a>
        
        <a  (click)="printPDF()" style='cursor: pointer;' class="list-group-item">
            <i class="fa fa-fw fa-print"></i>&nbsp;
            <span>{{ "QR הדפס" | translate }}</span>
        </a>
 
        <a (click)="rltAndLtr()" class="list-group-item">
            <span><i class="fa fa-arrows-h"></i>&nbsp; שנה כיוון תפריט</span>
        </a>

        
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <div class='version'>
            <span>גרסה</span>
            {{version.major}}.{{version.minor}}.{{version.patch}}
        </div>
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'קפל את סרגל הכלים' | translate }}</span>
    </div>

</nav>
